{% extends 'bootstrap/base.html' %}

{% block title %} Link Shortener {% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-lg-offset-4">
            <h1 class="text-center">Link Shortener</h1>
            <form method="POST" action="{{ url_for('views.create_url') }}">
                <div class="form-group">
                    <input type="text" name="long_url" class="form-control" id="long_url" placeholder="Long url">
                </div>
                <div class="form-group">
                <fieldset disabled>
                    <input type="short_url" class="form-control" id="short_url" placeholder="Short url">
                </fieldset>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Short</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center"></div>
        {% include 'link/includes/link_table.html' %}
    </div>
</div>
{% endblock %}